.data{box-shadow: 0px 0px 8px rgba(187, 27, 27, 0.897); border-radius: 10px;}

.createBtn{ background-color: maroon; color: whitesmoke; text-align: center;}

.dataUpdate{box-shadow: 0px 0px 8px  rgb(115, 252, 23); border-radius: 10px;}
